option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: true
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    EC2KeyName: aws-eb
  aws:elasticbeanstalk:application:environment:
    PORT: 8081
  aws:elasticbeanstalk:environment:process:default:
    Port: 8081
    HealthCheckPath: /health
    HealthCheckTimeout: 5
    HealthCheckInterval: 10
    MatcherHTTPCode: 200 